.container{
    display: grid;
  grid-template-columns:50% auto;
    &.color-dark{
        background: #ccc;
    }
    &.color-light{
        background: #efefef;
    }
}
.col{
    padding:.4em 1.3em;
}
input{
    &.txt{
        border:0;
        padding:1em;
        width:80%;
        margin-bottom: 2em;
    }
    &.btn{
        border:0;
        display: block;
        padding: 1em 3em;
        margin-bottom:1em;
        cursor: pointer;
    }
}
.life-container{
    padding:0.5em;
    font-weight: bold;
    background: #ccc;
    cursor:pointer;
}